body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button-container {
  display: grid;
  grid-template: repeat(6, 3rem) /repeat(4, 5rem);
  margin-top: 5%;
  margin-left: 60%;
}

.btn {
  background: #eee;
  border: 1px solid #ccc;
}

.row1 {
  background: #999;
  color: #fff;
  font-size: large;
  font-weight: 600;
  grid-row: 1;
  grid-column: 1/5;
  text-align: right;
}

.col2 {
  grid-column: 1/3;
  grid-row: 6;
}

.orange {
  background: orange;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.nav-list li {
  padding: 0 0.75rem;
}

.calculator-link {
  border-left: solid 1px blue;
  border-right: solid 1px blue;
}

.home-page,
.quote-container,
.calculator-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 3rem;
}

.welcome-message,
.calculator-motto {
  font-size: xx-large;
  margin-bottom: 0;
}

.img-container {
  background-image: url('./images/brain.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 45vh;
}

.quote-container {
  margin-bottom: 25%;
}

.quote {
  font-size: xx-large;
  margin-left: 4rem;
}

.footer {
  padding: 2rem 0;
  text-align: center;
  background: #ccc;
  font-size: large;
  font-weight: bold;
}
